.file-input {
  width: 100%;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-input input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.previewImage,.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.previewImages {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.previewImage + img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
